$navbar-height: 96px;
// Colors
$primary-color: #fff;
$secondary-color: #FF6767;
$green: #05A301;
$blue: #0225FF;
$red: #F21E1E;
$headingC: #000;
$subHead: #FF6767;
$textC: #747474;
$eventTagC: #A1A3AB;
$PrioC: #42ADE2;
$AddTaskC: #A1A3AB;
$normalC: #0225FF;
$successC: #04C400;
$moderateC: #42ADE2;
$Danger: #F21E1E;
$dateC: #3ABEFF;
$actionBtn: #F24E1E;
$link: #008BD9;
$CalendBack: #F5F8FF;
/* $headerBg:  */
// Responsive
$mobile-width: 767px;
$tablet-width: 1024px;
$sm-screen-width: 600px;
$md-screen-width: 900px;
$lg-screen-width: 1200px;
$xl-screen-width: 1536px;
// fonts
$font1: "Montserrat-Bold";
$font2: "Montserrat-Regular";
$font3: "Montserrat-Light";
$font4: "Montserrat-Medium";
$font5: "Inter";